
<% if(success.length > 0 && success){ %>
    <div class="alert alert-primary" role="alert"><%=success  %></div>
<% } %>
<% if(error.length > 0 && error){ %>
    <div class="alert alert-primary" role="alert"><%=error  %></div>
<% } %>
<% if(info.length > 0 && info){ %>
    <div class="alert alert-primary" role="alert"><%=info  %></div>
<% } %>