<% layout('layout/boilerplate') -%>
<h1>User Register</h1>
<form action="/u1/userdata" method="POST">
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" name="username">
  </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" name="email">
    </div>
    <div class="mb-3">
      <label for="Password" class="form-label">Password</label>
      <input type="password" class="form-control" id="Password" name="password">
    </div>
    <div class="mb-3">
      <h6>Usertype</h6>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="buyer" id="buyer" name="usertype" >
        <label class="form-check-label" for="buyer">Buyer</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="seller" id="seller" name="usertype">
        <label class="form-check-label" for="seller">Seller</label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>