<% if(success.length > 0 && success){ %>
<div class="alert alert-success" role="alert"><%= success %></div>
<% } %>
<% if(info.length > 0 && info){ %>
    <div class="alert alert-danger" role="alert"><%= info %></div>
<% } %>