<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Edit User</h1>
    <form action="/user/update/<%= user.id%>?_method=PATCH" method="POST">
        <label for="fullname">Fullname</label>
        <input type="text" placeholder="Enter you name" name="fullname" value="<%= user.fullname%>"><br>
        <label for="email">email</label>
        <input type="text" placeholder="Enter you email" name="email" value="<%= user.email%>"><br>
        <label for="contact">contact</label>
        <input type="number" placeholder="Enter you contact" name="contact" value="<%= user.contact%>"><br>
        <button type="submit">update</button>
    </form>
</body>
</html>