<% layout('layout/boilerplate') -%>
<% for(let product of products){ %>
<div class="d-flex">
  <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://images.gizbot.com/600x400/ph-big/img_og/vivo-y18t-combines-affordable-price-with-decent-camera-battery-life1731414887.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%= product.product_name  %></h5>
        <p class="card-text"><%= product.product_desc %></p>
        <a href="/p1/product/single/<%= product._id %>" class="btn btn-success">Show</a>
      </div>
    </div>
</div>
  <% } %>