<% layout('layout/boilerplate.ejs') -%>
<h1>Create Product</h1>
<form action="/product/info" method="POST">
    <div class="mb-3">
      <label for="productname" class="form-label">Product name</label>
      <input type="text" class="form-control" id="productname" name="productName">
    </div>
    <div class="mb-3">
      <label for="productdesc" class="form-label">Product description</label>
      <input type="text" class="form-control" id="productdesc" name="productdesc">
    </div>
    <div class="mb-3">
        <label for="productcategory" class="form-label">Product category</label>
        <input type="text" class="form-control" id="productcategory" name="productcate">
      </div>
    <div class="mb-3">
        <label for="productprice" class="form-label">Product Price</label>
        <input type="text" class="form-control" id="productprice" name="productprice">
    </div>
    <div class="mb-3">
        <label for="productImg" class="form-label">Product Image url</label>
        <input type="text" class="form-control" id="productImg" name="productImg">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>