<% layout('layout/boilerplate') -%>

<form action="/u1/signIn" method="post">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" name="username">
    </div>
    <div class="mb-3">
      <label for="Password" class="form-label">Password</label>
      <input type="password" class="form-control" id="Password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">login</button>
  </form>